importlib_metadata==8.7.0
keras==3.15.1
gdown==5.2.2
nltk==3.9.4
numpy==2.3.5
pillow==11.3.0
plotly==6.7.0
scikit-learn==1.9.0
seaborn==0.13.2
streamlit==1.50.0
tensorflow==2.21.0
tokenizers==0.21.0
torch==2.5.1
transformers==4.47.1
wheel==0.47.0